@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
:root{
    --fonte1:'EB Garamond', serif;
    --fonte2:'Bebas Neue', cursive;
    --fonte3: 'Work Sans', sans-serif;
    --fonte4:Arial, Helvetica, sans-serif;
    --fonte5:'Raleway', sans-serif;
    --fonte6:'Dancing Script', cursive;;
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(126, 126, 126);
}
header{
    color: white;
    font-family: var(--fonte5);
    font-size: 2.5em;
    height: 30vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(222,118,27,1) 100%, rgba(0,212,255,1) 100%);
}
header>p{
    font-size: 25px;
    font-family: var(--fonte6);
    max-width: 500px;
    margin: auto;
    
}

nav{
    
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(222,118,27,1) 100%, rgba(0,212,255,1) 100%);
    padding-top: 50px;
}
nav>a{
    color: white; 
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5;
}
nav>a:hover{
    background-color: rgba(222,118,27);
    color: black;
}
#format{
    height: 50vh;
    margin: auto;
    padding: 30px;

    
    background-attachment: fixed;

}
#format> h1{
    font-family: var(--fonte3);
    font-size: 3em;    
}

#format>p{
    
    
    font-family: var(--fonte4);
    font-size: 25px;
    max-width: 600px;
    padding: 30px;
    margin: auto;
}
#format> h1:hover{
    background-color: rgba(222,118,27); 
    background: transparent;
}
#format>button{
    color: rgb(12, 12, 12);
    position: absolute;
    height: 35px;
    width: 90px;
    border-radius: 10px;
    border: 1px solid black;
    
    left: 200px;
}

#format>button:hover{
    background-color: rgb(235, 146, 30);
}
#para{
    background-color: rgb(13, 57, 95);
    font-size: 0.5;
    height: 20vh;
    margin: 15px 0px;
    line-height: 1em;
    background: transparent;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.219);
}
.software{
    color: white;
    background-color: black;
    background-image: url('imagem/automacao.jpg');
    background-size: cover;
}
.software>p{
    font-family: var(--fonte4);
}
.telecom{
    color: black;
    background-image: url('imagem/14622.jpg');
    background-size: cover;
}
.computa{
    color: white;
    background-color: white;
    background-image: url('imagem/ciencia.jpg');
    background-size: cover;
}
.estrumenta{
    background-image: url('imagem/enhe.jpg');
    background-size: cover;
    
}
.automa{
    color: white;
    background-color: white;
    background-image: url('imagem/automacao.jpg');
    background-size: cover;
}
footer{
    background: transparent;
    color: white;
    text-align: center;
    background-color: rgb(58, 59, 59);
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: rgb(235, 146, 30);
    text-decoration: underline;
}
img{
    border-radius: 10px;
}
